<footer class="col-md-12 footer">
  <div class="row">
    <div class="col-md-6 text-left">
      <p>Built and Styled by KooTheGreat. A member of the Sol Armada Community.</p>
    </div>
    <div class="col-md-6 text-right">
       <p>&copy;Sol Armada</p>
    </div>
  </div>
</footer>
