<footer class="col-md-12 footer">
  <div class="row">
    <div class="col-md-3">
      <p>Hosted by <img src="images/Santite-Logo.png" height="10px" > Santite<small>&reg;</small></p>
    </div>
    <div class="col-md-6 text-right">
      <p>Built and Styled by Koo. A member of the Sol Armada Community.</p>
    </div>
    <div class="col-md-3">
       <p class="pull-right">&copy;Sol Armada</p>
    </div>
  </div>
</footer>