<div class="col-md-3 sidebar">
    <iframe id="discord-widget" src="https://discordapp.com/widget?id=91981365452488704" frameborder="0" allowtransparency="true" frameborder="0"></iframe>
    <div class="col-md-12 background-grey"><p>Lorem ipsum dolor sit amet, vel an nostrud praesent. Duis simul splendide his et, in sanctus similique his. Ne iusto partiendo molestiae quo. Eum sint tota apeirian ad, suas urbanitas deseruisse his ei. Usu te aliquam suavitate, est option dolorum gubergren ea, his justo consequat prodesset no. Everti tamquam per te. Mea cu adhuc doctus gloriatur, pro an cibo omnis maiestatis.</p></div>
    <div class="col-md-12 background-grey"><p>Deserunt convenire theophrastus ad mel, ea vis ubique constituto. Equidem tibique ponderum vis ei. Et modus commodo eloquentiam eam, et ipsum fuisset intellegat nec, an eum odio sonet. Quo probo aperiri accommodare et. Porro velit eligendi ei est, in dolorum percipitur eum, et copiosae eleifend percipitur eam.</p></div>
</div>