<div class="row">

  <div class="col-lg-4 col-lg-offset-4"><img class="img" src="/images/emblems/Sol_Emblem.svg" alt="" /></div>

</div>

<div class="row">

  <div class="col-lg-3"><img class="img" src="/images/emblems/Sol_Emblem_ARMS.svg" alt="" /></div>
  <div class="col-lg-3"><img class="img" src="/images/emblems/Sol_Emblem_CORPORATE.svg" alt="" /></div>
  <div class="col-lg-3"><img class="img" src="/images/emblems/Sol_Emblem_LOGISTICS.svg" alt="" /></div>
  <div class="col-lg-3"><img class="img" src="/images/emblems/Sol_Emblem_SECURITY.svg" alt="" /></div>
  
</div>
