<!DOCTYPE html>
<html>
  <head>
    <title>Sol Armada</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/Dependencies/bootstrap.css">
    <link rel="stylesheet" href="/styles/Dependencies/font-awesome.css">
    <link rel="stylesheet" href="/styles/custom.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head> 

  <body>
    <div class="container">
      <div class="row">
        <div id="alert" class="alert alert-danger" role="alert">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          Testing
        </div>
        <%- include components/navbar.ejs %>
        <%- body %>
      </div>
      <%- include components/footer.ejs %>
    </div>

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery.min.js"></script>
    <script src="/js/dependencies/bootstrap-formhelpers-colorpicker.js"></script>
    <script src="/js/dependencies/bootstrap-formhelpers-countries.js"></script>
    <script src="/js/dependencies/bootstrap-formhelpers-currencies.js"></script>
    <script src="/js/dependencies/bootstrap-formhelpers-datepicker.js"></script>
    <script src="/js/dependencies/bootstrap-formhelpers-fonts.js"></script>
    <script src="/js/dependencies/bootstrap-formhelpers-fontsizes.js"></script>
    <script src="/js/dependencies/bootstrap-formhelpers-googlefonts.js"></script>
    <script src="/js/dependencies/bootstrap-formhelpers-languages.js"></script>
    <script src="/js/dependencies/bootstrap-formhelpers-number.js"></script>
    <script src="/js/dependencies/bootstrap-formhelpers-phone.js"></script>
    <script src="/js/dependencies/bootstrap-formhelpers-selectbox.js"></script>
    <script src="/js/dependencies/bootstrap-formhelpers-slider.js"></script>
    <script src="/js/dependencies/bootstrap-formhelpers-states.js"></script>
    <script src="/js/dependencies/bootstrap-formhelpers-timepicker.js"></script>
    <script src="/js/dependencies/bootstrap-formhelpers-timezones.js"></script>
    <script src="/js/dependencies/bootstrap.js"></script>
    <script src="/js/dependencies/bootstrap.min.js"></script>
    <script src="/js/dependencies/flot/excanvas.min.js"></script>
    <script src="/js/dependencies/flot/flot-data.js"></script>
    <script src="/js/dependencies/flot/jquery.flot.js"></script>
    <script src="/js/dependencies/flot/jquery.flot.pie.js"></script>
    <script src="/js/dependencies/flot/jquery.flot.resize.js"></script>
    <script src="/js/dependencies/flot/jquery.flot.tooltip.min.js"></script>
    <script src="/js/dependencies/lang/ar/bootstrap-formhelpers-countries.ar.js"></script>
    <script src="/js/dependencies/lang/de_DE/bootstrap-formhelpers-countries.de_DE.js"></script>
    <script src="/js/dependencies/lang/en_US/bootstrap-formhelpers-countries.en_US.js"></script>
    <script src="/js/dependencies/lang/en_US/bootstrap-formhelpers-currencies.en_US.js"></script>
    <script src="/js/dependencies/lang/en_US/bootstrap-formhelpers-datepicker.en_US.js"></script>
    <script src="/js/dependencies/lang/en_US/bootstrap-formhelpers-fonts.en_US.js"></script>
    <script src="/js/dependencies/lang/en_US/bootstrap-formhelpers-fontsizes.en_US.js"></script>
    <script src="/js/dependencies/lang/en_US/bootstrap-formhelpers-googlefonts.en_US.js"></script>
    <script src="/js/dependencies/lang/en_US/bootstrap-formhelpers-languages.en_US.js"></script>
    <script src="/js/dependencies/lang/en_US/bootstrap-formhelpers-phone.en_US.js"></script>
    <script src="/js/dependencies/lang/en_US/bootstrap-formhelpers-states.en_US.js"></script>
    <script src="/js/dependencies/lang/en_US/bootstrap-formhelpers-timepicker.en_US.js"></script>
    <script src="/js/dependencies/lang/en_US/bootstrap-formhelpers-timezones.en_US.js"></script>
    <script src="/js/dependencies/lang/es_ES/bootstrap-formhelpers-countries.es_ES.js"></script>
    <script src="/js/dependencies/lang/es_ES/bootstrap-formhelpers-datepicker.es_ES.js"></script>
    <script src="/js/dependencies/lang/es_US/bootstrap-formhelpers-datepicker.es_US.js"></script>
    <script src="/js/dependencies/lang/it_IT/bootstrap-formhelpers-countries.it_IT.js"></script>
    <script src="/js/dependencies/lang/pt_BR/bootstrap-formhelpers-countries.pt_BR.js"></script>
    <script src="/js/dependencies/lang/ru_RU/bootstrap-formhelpers-countries.ru_RU.js"></script>
    <script src="/js/dependencies/lang/ru_RU/bootstrap-formhelpers-datepicker.ru_RU.js"></script>
    <script src="/js/dependencies/lang/zh_CN/bootstrap-formhelpers-countries.zh_CN.js"></script>
    <script src="/js/dependencies/lang/zh_CN/bootstrap-formhelpers-timezones.zh_CN.js"></script>
    <script src="/js/dependencies/lang/zh_TW/bootstrap-formhelpers-countries.zh_TW.js"></script>
    <script src="/js/client.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
